#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  position: sticky;
  top: 26px;
  z-index: 2;
  background-color: inherit;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 16px;
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: 20px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.message__box {
  color: black;
  background-color: white;
  padding: 8px 11px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  font-size: 10px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__box {
  background-color: var(--kakaoYellow);
  border-radius: 13px;
  border-top-right-radius: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.reply__column:first-child {
  width: 10%;
  padding: 0px 5px;
}
.reply__column:last-child {
  width: 90%;
  padding: 0px 5px;
  position: relative;
}
.reply__column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply i {
  font-size: 30px;
  opacity: 0.6;
}

.reply input {
  padding: 0px 10px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  border: var(--main-border);
  border-radius: 20px;
  background-color: var(--kakaoGray);
}

.reply__column:last-child button {
  width: 38px;
  height: 38px;
  border: none;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--kakaoYellow);
}

.reply__column:last-child button i {
  font-size: 20px;
}

.reply__column:last-child i {
  font-size: 25px;
}

.reply__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 8px;
  width: 75px;
}
