.recommended-friends {
  margin-top: 20px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.recommended-friends__title {
  color: var(--kakaoText);
  font-size: 14px;
}

.recommended-friends span {
  display: block;
  margin: 60px 0px;
  text-align: center;
  color: var(--kakaoText);
  font-size: 14px;
}

.open-chat {
  margin-top: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--kakaoText);
  font-size: 14px;
  margin-bottom: 15px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--main-border);
  margin-top: 10px;
  padding-top: 10px;
}

.open-post--not-line {
  border-top: none;
  margin-top: none;
}

.open-post__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__hashtags {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--kakaoText);
}

.open-post__members {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--kakaoText);
  font-size: 14px;
}

.open-post__members .divider {
  background-color: var(--kakaoText);
  width: 1px;
  height: 14px;
  margin: 0px 6px;
}

.open-post__member-status {
  color: rgb(255, 0, 128);
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    transform: none;
    color: white;
  }
  50% {
    transform: scale(2);
    color: tomato;
  }
  100% {
    transform: none;
    color: white;
  }
}

.open-post__heart-count:hover i {
  animation: heartBeat 1s linear infinite;
}
