#friends-display-link {
  margin-bottom: 10px;
  margin-top: -15px;
  text-align: center;
  display: block;
  background-color: var(--kakaoGray);
  padding: 10px;
  font-size: 14px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--kakaoText);
  font-size: 15px;
}
