.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.point {
  display: flex;
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
