body {
  height: 1000vh;
}

.nav {
  border-top: 1px solid rgba(121, 121, 121, 0.4);
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.nav__list {
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  background-color: var(--kakaoGray);
}

.nav__link {
  font-weight: 100;
  color: rgb(58, 57, 57, 0.9);
}
